<!DOCTYPE html>
<html lang="{{ current_lang }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %} | DNSentinel</title>
    {% include 'base/partials/head.html' %}
    {% block head %}{% endblock %}
</head>
<body class="site">
    {% include 'base/header/header.html' %}
    {% include 'base/partials/flashes.html' %}
    <main class="site__main">
        {% block content %}{% endblock %}
    </main>
    {% include 'base/footer/footer.html' %}
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
    {% block scripts %}{% endblock %}
</body>
</html>
