html,
body,
p,
h1,
h2,
h3,
h4,
h5,
h6,
a,
span,
div,
li,
ul,
ol,
button,
input,
textarea,
label,
th,
td,
strong,
em,
b,
i,
small,
code,
pre {
    font-family: "Inter", sans-serif;
}

html,
body {
    height: 100%;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}