<nav class="navbar is-dark mb-4" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" {% if session.get('user_id') %} href="{{ url_for('dashboard.home') }}" {% else %} href="{{ url_for('main.index') }}" {% endif %}>
            <img style="pointer-events: none;" src="{{ url_for('static', filename='img/DNSentinnel.svg') }}" alt="DNSentinnel Logo">
            <span class="is-size-4 has-text-weight-semibold has-text-white">DNSentinnel</span>
        </a>
        <a role="button" class="navbar-burger has-text-white" aria-label="menu" aria-expanded="false" data-target="navbarNav">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>
    <div id="navbarNav" class="navbar-menu">
        <div class="navbar-start">

        </div>
        <div class="navbar-end">
            {% if session.get('user_id') %}
                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link">
                        {{ session.get('user_name') }}
                    </a>
                    <div class="navbar-dropdown is-right">
                        <a class="navbar-item" href="{{ url_for('auth.logout') }}">Log out</a>
                    </div>
                </div>
            {% else %}
                <a class="navbar-item " href="{{ url_for('auth.login') }}">Login</a>
                <a class="navbar-item" href="{{ url_for('auth.register') }}">Register</a>
            {% endif %}
        </div>
    </div>
</nav>
<script>
document.addEventListener('DOMContentLoaded', function () {
    var burger = document.querySelector('.navbar-burger');
    var menu = document.getElementById(burger.dataset.target);

    burger.addEventListener('click', function () {
        burger.classList.toggle('is-active');
        menu.classList.toggle('is-active');
    });
});
</script>
