{% extends 'base/base.html' %}
{% block title %}Register{% endblock %}
{% block content %}
<div class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-6-tablet is-5-desktop is-4-widescreen">
        <div class="box has-shadow">
          <h2 class="title is-2 has-text-centered mb-2">Register</h2>
          <p class="subtitle is-5 has-text-centered mb-5">Create your DNSentinnel account.</p>
          <form method="post">
            <div class="field">
              <label for="name" class="label">Name <span class="has-text-danger">*</span></label>
              <div class="control has-icons-left">
                <input type="text" class="input" id="name" name="name" required placeholder="John Doe">
                <span class="icon is-small is-left">
                  <i class="fas fa-user"></i>
                </span>
              </div>
            </div>
            <div class="field">
              <label for="email" class="label">Email <span class="has-text-danger">*</span></label>
              <div class="control has-icons-left">
                <input type="email" class="input" id="email" name="email" required placeholder="john@example.com">
                <span class="icon is-small is-left">
                  <i class="fas fa-envelope"></i>
                </span>
              </div>
            </div>
            <div class="field">
              <label for="password" class="label">Password <span class="has-text-danger">*</span></label>
              <div class="control has-icons-left">
                <input type="password" class="input" id="password" name="password" required placeholder="********">
                <span class="icon is-small is-left">
                  <i class="fas fa-lock"></i>
                </span>
              </div>
            </div>
            <div class="field is-grouped is-grouped-centered mt-5">
              <div class="control">
                <button type="submit" class="button is-link is-rounded">
                  <span class="icon"><i class="fas fa-user-plus"></i></span>
                  <span>Register</span>
                </button>
              </div>
              <div class="control">
                <a class="button is-light is-rounded" href="{{ url_for('auth.login') }}">
                  <span class="icon"><i class="fas fa-sign-in-alt"></i></span>
                  <span>Login</span>
                </a>
              </div>
            </div>
          </form>
          <p class="mt-3 has-text-centered">Already have an account? <a href="{{ url_for('auth.login') }}">Log in</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
