<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %} | DNSentinnel</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="shortcut icon" href="{{ url_for('static', filename="favicon.png")}}" type="image/x-icon">
    <link href="{{ url_for('static', filename='css/bulma.min.css')}}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
    {% block head %}{% endblock %}
    <style>
        html, body {
            height: 100%;
        }
        body {
            min-height: 100vh;
            display: flex;
            flex-direction: column;
        }
        main {
            flex: 1;
        }
    </style>
</head>
<body>
    {% include 'base/header/header.html' %}
    <main class="container is-fluid mt-5">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="notification is-{{ category }} is-light is-dismissible">
                        {{ message }}
                        <button class="delete" aria-label="delete"></button>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </main>
    {% include 'base/footer/footer.html' %}
    {% block scripts %}{% endblock %}
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            document.querySelectorAll('.notification .delete').forEach(function(btn) {
                btn.addEventListener('click', function() {
                    btn.parentElement.remove();
                });
            });
        });
    </script>
</body>
</html>